body {
    margin: 0px;
    padding: 0px;
    direction: rtl;
    text-align: center;
    box-sizing: content-box;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
	margin-bottom: -115%;
}

#base {
	width: 80%;
    height: auto;
	padding: 15px;
}

#top {
	margin-top: -10%;
}

input {
	width: 20%;
	padding: 15px;
}

hr {
	border: 0px;
}